@import 'common';

main{
  
  margin-top: 40px;
  #left-tab{
    position: fixed;
    top: 60px;
    left: 0;

  }
  
  #content{
    padding: 0;
  }
  
  
 .tab{
   cursor: pointer;
   text-align: center;
   font-size: 2.5rem;
   color: #cccccc;
   font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
   padding: 0.5rem 0rem 0.5rem 0rem;
   margin: 0.3rem 1rem 0.3rem 1rem;
   
 }
 

  
  .tab:hover{
    color: #fff;
    background: #000;
  }
  
  .active{
   @extend .tab:hover;
 }
  
  
.inner-content{
  margin-top: 1rem;
  background: #fff;
}

.sample-image{
    
    border-bottom: 0.3rem solid #222;
    margin-left: 20%;
    margin-right: 20%;
    
  }
    img{
    display: block;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    max-width: 100%
  }
  


#color{
  #detail-content{
    margin-top: 4rem;
    img{
      width: 100%;
      margin-top: 20px;
      padding-top: 0;
      border-right: #222 solid 2rem;
    }
    #two{
      border-right: #353535 solid 2rem;
    }
    
    #three{
      border-right: #777 solid 2rem;
    }
    
    #four{
      border-right: #fed916 solid 2rem;
    }
    
    .row{
      padding-bottom: 4rem;
    }
    
    h1{
      font-size: 60px;  
    }
    
    p{
      color: #353535;
      margin: 1rem 0rem;
    }
  }
}

#font-anylise{
  text-align: center;
  
  .font-inner-section{
    border-bottom: solid #777 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .font-inner-section:last-child{
    border-bottom: none;
    
  }
  h1{
    padding-top: 2rem;
    font-size: 72px;
  }
  p{
    font-size: 2rem;
    padding-bottom: 2rem;
  }

}
#page-layout{
  @extend #font-anylise;
  text-align: justify;
  h1{
    text-align: center;
  }
}
}