@import 'common';
/**{
    outline: 1px #fff solid;
}*/
main{

  margin-top: 40px;
  .title-common{
      color: white;
     /* font-family: "bebas-neue", "Sans-serif"; */
     text-align: center;
  }
  
  .big-title{
      @extend .title-common;
     font-size: 6rem;
     font-weight: 400;
  }
  
  .small-title{
      @extend .title-common;
      font-size: 4rem;
      font-weight: 200;
 
  }
  
  #website-intro{
      margin-top: 2rem;
      padding-bottom: 4rem;
  }
  
  #report-intro{
  @extend #website-intro;  
  }
  
  img {
    display: block;
    width: 100%;
    margin: auto;
  }
  
  .content{
    border-left: 0.5rem solid white;
    margin-top: 2rem;
  }
  
  
  p{
    color: $content-text-color;
    margin-bottom: 1.5rem;
    margin-right: 15%;
  }
  
  p:last-child{
    margin-bottom:0;
  }
  
  a img{
    width: 5%;
    margin-left: 0;
  }
}

